* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-image: linear-gradient(to right, rgb(66, 64, 65), rgba(110, 107, 107, 0));
  max-width: 600px;
  margin: 0 auto;
  color: whitesmoke;
}



h1 {
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
}

h2, h3 {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}



.container {
  background-color: gainsboro;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
}



.input-area {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.input-task {
  flex: 1;
  height: 40px;
  border: 0;
  border-radius: 10px;
  background-color: rgb(250, 239, 247);
  color: rgb(10, 1, 1);
  outline: none;
  padding-left: 10px;
  font-weight: 700;
}

.button-add-task {
  background-color: rgba(35, 29, 32, 0.199);
  color: white;
  border: none;
  height: 40px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
  font-size: 17px;
  padding: 0 20px;
}

.button-add-task:hover {
  opacity: 0.8;
}

.button-add-task:active {
  opacity: 0.6;
}



#lista-pendentes,
#lista-concluidas {
  list-style: none;
  padding: 0;
  width: 100%;
  margin-top: 30px;
}



.task {
  background-color: rgb(248, 242, 245);
  padding: 0 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  color: rgb(70, 70, 70);
  font-weight: bold;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);

  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.done p {
  text-decoration: line-through;
  opacity: 0.6;
}



span {
  cursor: pointer;
}

img {
  height: 25px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.task:hover img {
  opacity: 1;
}



@media (max-width: 480px) {

  .input-area {
    flex-direction: column;
  }

  .button-add-task {
    width: 100%;
  }

}
