
body {
background-color: rgb(249, 192, 232);
max-width: 500px;
margin: 0 auto; 
color: whitesmoke;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


};


h1 {
font-size: 40px;
color: palevioletred;
text-align: center

};

input {
height: 40px;
border: 4px, solid, pink;
background-color: rgb(248, 99, 203);
color: white;
outline: none;
width: 80%;


};


button {
background-color: rgb(201, 121, 169);
color: white;
text-align: center;
border: none;
height: 44px;
cursor: pointer;
transition:0.5s;
width: 90px;

};

button:hover {
background-color: rgb(234, 15, 117);
height: 55px;

};

button:active {
background-color: rgb(179, 4, 86);

};

ul {
list-style-type: none;
padding: 0;

};

li {
background-color: deeppink;
padding: 10px;
margin: 10px auto;
border-radius: 5px;
color: whitesmoke;
font-weight: bold;

display: flex;
align-items: center;
justify-content: space-between;


};

span {
  cursor: pointer;

};

